<div id="navbar">
  <h1><%= link_to "🚀 Vamos a practicar nuestro espanol 🚀", root_path %></h1>
</div>

<div id="new-container">
  <h2>Combien de mots voulez-vous travailler?</h2>

  <%= form_with(model: @game, url: games_path, method: :post) do |form| %>
    <%= form.label :number_of_words, "Choisis (de 1 à #{@database_size})" %>
    <%= form.number_field :number_of_words, in: 1..@database_size %>
    <%= form.submit "Vamos" %>
  <% end %>
</div>
