<h2>Tu veux travailler <%= @game.number_of_words %> mots.</h2>
<h3>C'est parti !</h3>
<p></p>
<h3>Traduis les mots suivants:</h3>

<% n = 0 %>
<form>
  <div id="list">
    <% @translations.each do |hash| %>
      <% n += 1 %>
      <div id="word<%= n %>" style="display: flex;">
        <label id="french<%= n %>"><%= hash["french"] %></label>
        <input type="text" id="input<%= n %>"><br><br>
        <%# Trick pour récupérer la traduction avec le js %>
        <div id="spanish<%= n %>" style="display: none;"><%= hash["spanish"] %></div>
      </div>
    <% end %>
  </div>

  <%# Trick pour récupérer la taille n de la liste avec le js %>
  <div id="size" style="display: none;"><%= n %></div>

  <input type="submit" value="Hihi" class="button">
</form>

<div id="score"></div>

<div id="buttons">
  <div id="correction" class="button">Corrige toi</div>
  <div id="new" class="button"><%= link_to "Nouvelle Partie", new_game_path %></div>
</div>


<script>
  // Event Listener sur le Submit
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form").addEventListener("submit", function(event) {
      event.preventDefault();

      // Taille de la liste
      let size = document.querySelector("#size").innerHTML;
      // On va compter les bonnes réponses
      let point = 0;

      for (let i = 1; i <= size; i++) {
        // On récupère la div du mot, l'input, le français et sa traduction
        let divWord = document.getElementById("word" + i.toString());
        let input = document.querySelector("#input" + i.toString()).value;
        let french = document.querySelector("#french" + i.toString()).innerHTML;
        let spanish = document.getElementById("spanish" + i.toString()).innerHTML;

        if (input == spanish) {
          // Si la réponse est juste
          divWord.style.backgroundColor = "green";
          point++; // Incrémentation
        } else {
          // Si la réponse est fausse
          divWord.insertAdjacentHTML('beforeend', `${french} => ${spanish}`)
          divWord.style.backgroundColor = "red";
        }
      };
      // On display le résultat
      let divScore = document.getElementById("score");

      if (point / size <= 0.5) {
        divScore.innerHTML = `Java le Hutt ferait mieux: ${point} / ${size} !`;
      } else if ((0.5 <= point / size) && (point / size < 1)) {
        divScore.innerHTML = `Pas mal Anakin: ${point} / ${size} !`;
      } else {
        divScore.innerHTML = `Parfait ${point} / ${size} ! <br>Mais nous ne t'accordons toujours pas le rang de maître.`;
      };


    });
  });

  // Event Listener sur le Correction
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("correction").addEventListener("click", function(event) {
      event.preventDefault();
      console.log("salut");
    });
  });
</script>
