<h2>Traduis les <%= @game.number_of_words %> mots suivants:</h2>

<% if @translations == "Youpi" %>
  <p>HEHEHEHEHEHEHE ca maaaarrche</p>
<% else %>
  <% n = 0 %>
  <form>
    <div id="list">
      <% @translations.each do |hash| %>
        <% n += 1 %>
        <div id="word<%= n %>" style="display: flex;">
          <label id="french<%= n %>"><%= hash["french"] %></label>
          <input type="text" id="input<%= n %>"><br><br>
          <%# Trick pour récupérer la traduction avec le js %>
          <div id="spanish<%= n %>" style="display: none;"><%= hash["spanish"] %></div>
        </div>
      <% end %>
    </div>

    <%# Trick pour récupérer la taille n de la liste avec le js %>
    <div id="size" style="display: none;"><%= n %></div>

    <input type="submit" value="Submit" class="button">
  </form>
<% end %>

<div id="score"></div>

<div id="buttons">
  <div id="correction" class="button"><%= link_to "Corrige toi", correction_game_path %></div>
  <div id="new" class="button"><%= link_to "Nouvelle Partie", new_game_path %></div>
</div>


<%# Partie Javascript que je n'arrive pas à mettre dans un fichier externe au HTML %>
<script>
  // import "jquery";
  // import "jquery_ujs";
  //= require_tree .

  // fonction pour enlever les accents
  function removeAccents(str) {
    return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
  }

  // Création d'un array pour lister les réponses fausses puis les corriger
  let errorsArray = [];

  // Event Listener sur le Submit
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form").addEventListener("submit", function(event) {
      event.preventDefault();

      // Taille de la liste
      let size = document.querySelector("#size").innerHTML;
      // On va compter les bonnes réponses
      let point = 0;

      for (let i = 1; i <= size; i++) {
        // On récupère la div du mot, l'input, le français et sa traduction
        let divWord = document.getElementById("word" + i.toString());
        let input = document.querySelector("#input" + i.toString()).value;
        let french = document.querySelector("#french" + i.toString()).innerHTML;
        let spanish = document.getElementById("spanish" + i.toString()).innerHTML;

        // Si la réponse est juste
        if (input == spanish) {
          divWord.style.backgroundColor = "green";
          point++; // Incrémentation

          // Si la réponse est juste mais mauvais accent(s)
        } else if (input == removeAccents(spanish)) {
          divWord.style.backgroundColor = "orange";
          divWord.insertAdjacentHTML('beforeend', `Attention aux accents: ${spanish}`);
          point += 0.5; // Incrémentation

          // Si la réponse est fausse
        } else {
          divWord.style.backgroundColor = "red";
          divWord.insertAdjacentHTML('beforeend', `${spanish}`);
          errorsArray.push(`${french}`);
        }
      };
      // On display le résultat
      let divScore = document.getElementById("score");

      if (point / size <= 0.5) {
        divScore.innerHTML = `Java le Hutt ferait mieux: ${point} / ${size} !`;
      } else if ((0.5 <= point / size) && (point / size < 1)) {
        divScore.innerHTML = `Pas mal Anakin: ${point} / ${size} !`;
      } else {
        divScore.innerHTML = `Parfait ${point} / ${size} ! <br>Mais nous ne t'accordons toujours pas le rang de maître.`;
      };


    });
  });

  // Event Listener sur le bouton Correction, à supprimer
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("correction").addEventListener("click", function(event) {
      event.preventDefault();
      console.log("Je suis ton père");
      // Pour checker la tête de l'array dans la console
      console.log(errorsArray);
      fetch("/games/correction", {
        method: "POST",
        headers: {
          "Content-Type": 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
        body: JSON.stringify({ errors_array: errorsArray }),
      })
      .then(response => {
        if (!response.ok) {
          console.error('Erreur lors de la requête:', response.status, response.statusText);
          throw new Error('Erreur lors de l\'envoi de l\'array au back-end');
        }
        return response.json(); // Vous pouvez ajuster cela en fonction du type de réponse attendu
      })
      .then(data => {
        // Gérez la réponse du back-end si nécessaire
        console.log(data);
      })
      .catch(error => {
        console.error('Erreur: ', error);
      });
    });
  });
</script>
